* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: roboto;
}

.nav {
  width: 910px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.nav__logo {
  width: 15%;
}
.nav__list {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list_item-link {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.nav__list_item-link:hover {
  color: red;
  -webkit-text-stroke: 0.7px red;
}
.nav__list_item-link:active {
  color: red;
  -webkit-text-stroke: 0.7px red;
}
.nav__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.nav__info_left {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 35px;
  border-radius: 30px;
  border: 1px solid #6A6A6A;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  padding: 8px;
}
.nav__info_center {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.nav__info hr {
  height: 25px;
}
@media screen and (max-width: 1024px) {
  .nav__list {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav__list_item:nth-child(3),
  .nav__list :nth-child(4) {
    display: none;
  }
}
.header {
  width: 100%;
  background-image: url("../../images/header-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__title {
  padding-top: 100px;
  padding-bottom: 50px;
  width: 70%;
  color: #fff;
  text-align: center;
  font-size: 100px;
  font-weight: 800;
  line-height: 135px;
  text-transform: uppercase;
}
.header__subtitle {
  padding-bottom: 80px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
.header__search {
  background-color: #fff;
  padding: 12px 28px;
  border-radius: 30px;
  display: flex;
  margin-bottom: 150px;
}
.header__search_box {
  width: 120px;
  position: relative;
}
.header__search_input {
  width: 120px;
  outline: none;
  border: none;
  margin-top: 10px;
  color: #1C1C1C;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.header__search_input:valid ~ .header__search_span {
  top: 0px;
  font-size: 12px;
  text-transform: lowercase;
}
.header__search_input:focus ~ .header__search_span {
  top: 0px;
  font-size: 12px;
  text-transform: lowercase;
}
.header__search_span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #A1A1A1;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.header__search .fa-pipe {
  font-size: 30px;
  padding-right: 15px;
}
.header__search_pick {
  width: 160px;
  height: 40px;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  text-transform: uppercase;
}
.header__search_pick:hover {
  cursor: pointer;
}
.header__search_pick:active {
  background-color: #000;
}

.tours {
  margin-left: 250px;
}
.tours__img {
  position: relative;
  top: 150px;
  left: -160px;
  z-index: -1;
}
.tours__title {
  color: #1C1C1C;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.tours__subtitle {
  color: #1C1C1C;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.tours__wrap {
  display: flex;
  gap: 32px;
  overflow-x: scroll;
  scroll-margin: 20px;
  height: 390px;
}
.tours__wrap::-webkit-scrollbar {
  height: 3px;
}
.tours__wrap::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px;
  border-radius: 10px;
  background-color: #D4D4D4;
}
.tours__wrap::-webkit-scrollbar-thumb {
  background: #1C1C1C;
  border: 1px solid black;
  border-radius: 10px;
}
.tours__wrap_box {
  padding: 20px;
  width: 256px;
  height: 340px;
  border-radius: 30px;
  background-image: url("../../images/tours__wrap_box-img1.png");
  -webkit-box-shadow: 0 -17px 90px -18px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: 0 -17px 90px -18px rgba(34, 60, 80, 0.6) inset;
  box-shadow: 0 -17px 90px -18px rgba(34, 60, 80, 0.6) inset;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.tours__wrap_box-top {
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  gap: 10px;
}
.tours__wrap_box-top p {
  padding: 3px 7px;
  border: 1px solid #fff;
  border-radius: 30px;
}
.tours__wrap_box-bottom {
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  gap: 10px;
}
.tours__wrap_box-bottom p:first-child {
  width: 216px;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.tours__wrap_box-bottom p:nth-child(2) {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}
.tours__wrap_box-bottom p:last-child {
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 12px;
}
.tours__wrap_box:nth-child(2) {
  background-image: url(../../images/tours__wrap_box-img2.png);
}
.tours__wrap_box:nth-child(3) {
  background-image: url(../../images/tours__wrap_box-img3.png);
}
.tours__wrap_box:nth-child(4) {
  background-image: url(../../images/tours__wrap_box-img4.png);
}
.tours__wrap_box:nth-child(5) {
  background-image: url(../../images/tours__wrap_box-img5.png);
}
.tours__wrap_box:nth-child(2) {
  background-image: url(../../images/tours__wrap_box-img2.png);
}

.choice {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/choice.jpg);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 20px;
}
.choice__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 64px;
  border-radius: 30px;
  background: #fff;
  width: 1120px;
  height: min-content;
}
.choice__box_title {
  width: 240px;
  color: #1c1c1c;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.choice__box_subtitle {
  width: 210px;
  color: #1c1c1c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.choice__box_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.choice__box_input {
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid #bdbdbd;
}
.choice__box_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.choice__box_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.choice__box_submit {
  border: none;
  outline: none;
  border-radius: 30px;
  background: #ec1c24;
  padding: 11px 28px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */
